.written-description {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 3rem;
  padding-left: 0;
  padding-right: 2rem;
  padding-bottom: 0;
  margin-top:0rem;
}

/* mobile only */
@media (max-width: 768px) {
  .written-description {
    margin-top: 0;
  }
}

.oral-description {
  font-family: "GT-Maru-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 3rem;
  padding-left: 0rem;
  padding-right: 0rem;
  margin-top:0rem;
}

.oral-description-horizontal {
  font-family: "GT-Maru-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 3rem;
  padding-left: 0;        /* mobile default */
  padding-right: 0;
  margin-top: 0;
}

/* desktop only */
@media (min-width: 769px) {
  .oral-description-horizontal {
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* Main container */
#probes-main {
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
  border-top: 0 solid #000;
}

.bottom-section {
  display: flex;
  justify-content: space-between; /* left + right */
  align-items: center;
  padding-top:2rem;
  width: 100%;
  margin-top: 4rem; /* optional spacing */
}

/* remove margin-left:auto if you added it earlier */
.probes-button-right {
  margin-left: 0;
}

.probes-button-magic {
    /* layout */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* gap: 0.35rem; */
    padding: 1.6rem;
    width: fit-content;
    min-width: 15rem;
    aspect-ratio: 5 / 1;
    background: white;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border-radius: 50%;
    font-family: 'PP Editorial New', serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
    font-size: 0;
    background: #ffffff;
    color: black;
    border: 0px solid black;
    text-decoration: none;
    cursor: none;

}
.probes-button-left {
    /* layout */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* gap: 0.35rem; */
    padding: 1.6rem;
    width: fit-content;
    min-width: 15rem;
    aspect-ratio: 5 / 1;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border-radius: 50%;
    font-family: 'PP Editorial New', serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
    background: #ffffff;
    color: black;
    border: 0.5px solid black;
    text-decoration: none;
    cursor: pointer;

}

.probes-button-left .arrow {
    font-weight: 600;
}

.probes-button-left:hover {
    background: #fbf7fb;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.probes-button-left:active {
    transform: translateY(1px);
    box-shadow: 0 1px 0 rgba(90, 11, 99, 0.18);
}

.probes-button-left:focus-visible {
    outline: 3px solid rgba(90, 11, 99, 0.35);
    outline-offset: 4px;
}

.probes-button-right {
  /* same styles as left */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;
  padding: 1.6rem;
  width: fit-content;
  min-width: 15rem;
  aspect-ratio: 5 / 1;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  border-radius: 50%;
  font-family: 'PP Editorial New', serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  background: #ffffff;
  color: black;
  border: 0.5px solid black;
  text-decoration: none;
  cursor: pointer;

  /* key difference */
  margin-left: auto;
}


.probes-button-right .arrow {
    font-weight: 600;
}

.probes-button-right:hover {
    background: #fbf7fb;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.probes-button-right:active {
    transform: translateY(1px);
    box-shadow: 0 1px 0 rgba(90, 11, 99, 0.18);
}

.probes-button-right:focus-visible {
    outline: 3px solid rgba(90, 11, 99, 0.35);
    outline-offset: 4px;
}



/* Fixed Header */
#header-fixed-top {
  width: 100%;
  z-index: 999;
}

/* Layout - Mobile First */

.probes-sub-section,
.probes-sub-section-second-line {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 0srem;
  padding-bottom: 0;
}

.probes-sub-section-second-line {
  padding-top: 2rem;
}

.probes-sub-section>div:last-child {
  padding-bottom: 0;
}

.workshop-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  border-top: 0.5px solid rgba(43, 43, 43, 1);
  width: 100%;
}

.workshop-card+.workshop-card {
  margin-top: 5rem;
  /* 2.5rem * 2 */
}

.workshop-card::after {
  content: "";
  position: absolute;
  border-bottom: 0.5px solid rgba(43, 43, 43, 1);
  width: 100%;
  left: 0;
}

.workshop-card:last-child::after {
  border-bottom: 0;
}

.probes-text {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  /* padding-bottom: 2rem; */
  border-bottom: 0; /* reset by default */
}

/* mobile only */
@media (max-width: 768px) {
  .probes-text {
    border-bottom: 0.5px solid black;
    /* padding-bottom:2rem; */
  }

}


/* desktop: explicitly remove */
@media (min-width: 769px) {
  .probes-text {
    border-bottom: 0;
  }
}

.probes-text-horizontal {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  /* padding-bottom: 2rem; */
  border-bottom: 0; /* reset by default */
}

/* mobile only */
@media (max-width: 768px) {
  .probes-text-horizontal {
    border-bottom: 0.5px solid black;
    /* padding-bottom:2rem; */
  }

}


/* desktop: explicitly remove */
@media (min-width: 769px) {
  .probes-text-horizontal {
    border-bottom: 0;
  }
}

.probes-button-left,
.probes-button-right {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
}




.probes-tag,
.probes-tag-title,
.probes-left,
.probes-right {
  padding: 0;
  margin: 0;
}

.probes-right {
  text-align: right;
  padding-top: 2rem;
}

.probes-tag-big,
.probes-tag-name,
.probes-tag-last,
.probes-tag-little,
.probes-tag-little-2,
.probes-tag-description {
  font-family: SuisseIntl-Light, sans-serif;
  color: #2a2a2a;
}

.probes-tag-big {
  font-family: SuisseIntl-Book;
  font-size: 3rem;
  padding-top: 2rem;
}

.probes-tag-name,
.probes-tag-last {
  font-family: SuisseIntl-Book;
  font-size: 3rem;
  color: #ff46ec;
  display: inline-block;
}

.probes-tag-name {
  margin-top: 2rem;
  line-height: 4rem;
}

.probes-tag-last {
  margin-top: 0;
  line-height: 3rem;
}

.probes-tag-little {
  font-size: 3rem;
  line-height: 4rem;
}

.probes-tag-little-2 {
  font-size: 2rem;
  text-align: right;
  line-height: 2rem;
  padding-top: 3rem;
}

.probes-tag-description {
  font-size: 2rem;
  line-height: 3rem;
  white-space: break-spaces;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

/* Media Content */
.probes-pic,
.final-event-pic {
  padding-top: 2rem;
  width: 100%;
}


.final-event-pic {
  width: 50%;
}

/* Buttons */
/* .read-more-button {
  border: 1px solid #000;
  border-radius: 4rem;
  padding: 1rem 2rem;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  line-height: 2rem;
}

.read-more-button a {
  font-family: SuisseIntl-Regular, sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  line-height: 0;
}

.read-more-button:hover a {
  color: #000;
} */

.probes-card-1-left,
.probes-card-1-central,
.probes-card-1-right,
.probes-card-1-central-2x-horizontal,
.probes-card-1-left-2x-horizontal {
  border-bottom: 0.5px solid rgba(43, 43, 43, 1);
}

/* Mobile Specifics */
/* #grid-container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 2rem;
  height: auto;
} */

.card {
  width: 100%;
}

.card>img {
  width: 100%;
  height: auto;
}

.head-left,
.head-central,
.head-central-long {
  width: 100%;
  padding: 0;
  border-bottom: 0.5px solid rgba(43, 43, 43, 1);
}

.tag-left {
  margin-left: 0rem;
}

.tag-text {
  text-decoration: none;
  padding:0rem;
  color: #000;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.5;
}

.tag-text-horizontal {
  text-decoration: none;
  padding: 0;           /* mobile default */
  color: #000;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.5;
}

/* desktop only */
@media (min-width: 769px) {
  .tag-text-horizontal {
    padding-left: 1em;
  }
}

.component-list {
  top: 0;
  /* Adjust as needed */
  left: 0;
  /* Adjust as needed */
  z-index: 1;
  pointer-events: none;
  /* Prevent clicks from affecting this layer */
  padding-top: 0rem;
  margin-top: 2rem;
  /* margin-bottom: 2rem; */
  box-sizing: border-box;
  font-family: "SuisseIntl-Regular";
}

.component-list-horizontal {
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  padding-top: 0;
  padding-left: 0;       /* mobile default */
  box-sizing: border-box;
  font-family: "SuisseIntl-Regular";
}

/* desktop only */
@media (min-width: 769px) {
  .component-list-horizontal {
    padding-left: 2em;
  }
}

.full-width-image-container {
  position: relative;
  height: auto;
}

.full-width-image-container>img {
  position: absolute;
  height: auto;
}

.tag-text-long {
  text-decoration: none;
  color: #000;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.5;
}

.component-description {
  text-decoration: none;
  color: #000;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.5;
  line-height: 3rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom:2rem;
}

.image-container {
  position: relative;
  padding-left:1rem;
  /* Enables stacking */
  height: auto;
  z-index: 2;
}

.image-container>img {
  /* position: absolute; */
  height: auto;
}

.base-image {
  display: block;
  /* Ensures the image behaves as a block-level element */
  width: 100%;
  /* Makes the image take the full width of its container */
  height: auto;
  /* Maintains the image's aspect ratio */
  position: relative;
  /* Ensures the image is part of the layout flow and gives height to parent */
  left: 0;
  /* Set left to 0, assuming previous 0.2 was an anomaly or not critical for layout */
}

.full-width-image {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-image {
  /* display: block;
        position: absolute; */

  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  pointer-events: none;
}

.overlay-image.hidden {
  display: none;
}

.image-container-wrapper {
  position: relative;
  height: auto;
}

.full-width-image-container {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

.button-to-select-text {
  text-decoration: none;
  color: #000;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.5;
  line-height: 0;
  padding: 0;
  align-items: flex-end;
}

.interactive-legend-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

/* mobile only */
@media (max-width: 768px) {
  .interactive-legend-section {
    border-bottom: 0.5px solid black;
  }
}

.tag {
  display: flex;
  flex-wrap: wrap;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.legend-item-first {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  padding-left: 0rem;
}

@media(max-width: 769px) {
  .legend-item {
    padding: 1rem;
    padding-left:0rem;
  }

  .legend-item-first {
    padding: 1rem;
    padding-left: 0rem;
  }
}

.page-wrapper {
  min-height: calc(100vh - 8rem);
  /* Adjust based on footer height */
  display: flex;
  flex-direction: column;
}

.bottom-section {
  margin-top: auto;
  margin-bottom: auto;
}

.bottom {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid rgba(43, 43, 43, 1);
  margin: 0;
}

.bottom-left,
.bottom-central,
.bottom-right {
  flex: 1;
}

.bottom-left {
  text-align: left;
}

.bottom-central {
  text-align: center;
}

.bottom-right {
  text-align: right;
}

.bottom-tag {
  margin-top: auto;
  margin-left: 2rem;
  align-self: flex-start;
  text-decoration: none;
  display: inline-block;
  line-height: 2rem;
}

/* The middle section with vertical layout */
.vertical-section-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* spacing between vertical subsections */
}

.vertical-subsection {
  flex: 1;
  border: 1px solid #999;
  padding: 1rem;
}

/*! ------------------------------------------
      Legend toggles
  ------------------------------------------ */

.treatments {
  background-color: #0040ff;
  color: white;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.treatments.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.treatments-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  /* padding: 0.5rem;
  margin: 0.5rem; */
  cursor: pointer;
  border: 1px solid #0040ff;
  background-color: white;
  border-radius: 50%;
}

.treatments-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #0040ff;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.complexity {
  background-color: #239857;
  color: white;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.complexity.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.complexity-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #239857;
  background-color: white;
  border-radius: 50%;
}

.complexity-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #239857;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.recurrences {
  background-color: #ff7800;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.recurrences.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.recurrences-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #ff7800;
  background-color: white;
}

.recurrences-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #ff7800;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.urine {
  background-color: #c5c500;
  display: inline;
  /* margin: 0rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.urine.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.urine-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #c5c500;
  background-color: white;
}

.urine-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #c5c500;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.lower-abdomen {
  background-color: #ae00ff;
  color: white;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.lower-abdomen.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.lower-abdomen-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #ae00ff;
  background-color: white;
}

.lower-abdomen-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #ae00ff;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.fever {
  background-color: #00c6d4;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.fever.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.fever-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #00c6d4;
  background-color: white;
}

.fever-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #00c6d4;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.discomfort {
  background-color: #9cf7ff;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.discomfort.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.discomfort-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #9cf7ff;
  background-color: white;
}

.discomfort-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #9cf7ff;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.pain {
  background-color: #ffce9c;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.pain.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.pain-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #ffce9c;
  background-color: white;
}

.pain-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #ffce9c;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.infection {
  background-color: #7b7b7b;
  color: white;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.infection.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.infection-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #7b7b7b;
  background-color: white;
}

.infection-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #7b7b7b;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.back-pain {
  background-color: #ff00e5;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.back-pain.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.back-pain-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #ff00e5;
  background-color: white;
}

.back-pain-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #ff00e5;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.bloated-stomach {
  background-color: #007bff;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.bloated-stomach.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.bloated-stomach-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #007bff;
  background-color: white;
}

.bloated-stomach-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #007bff;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.anxiety {
  background-color: #00ff99;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.anxiety.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.anxiety-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #00ff99;
  background-color: white;
}

.anxiety-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #00ff99;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.vomiting {
  background-color: #ffcc00;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.vomiting.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.vomiting-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #ffcc00;
  background-color: white;
}

.vomiting-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #ffcc00;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.nausea {
  background-color: #f6dbff;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.nausea.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.nausea-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #f6dbff;
  background-color: white;
}

.nausea-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #f6dbff;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.leaks {
  background-color: #9a5f28;
  color: white;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.leaks.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.leaks-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #9a5f28;
  background-color: white;
}

.leaks-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #9a5f28;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.cramps {
  background-color: #763267;
  color: white;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.cramps.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.cramps-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #763267;
  background-color: white;
}

.cramps-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #763267;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.causes {
  background-color: #ff0066;
  color: white;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.causes.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.causes-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #ff0066;
  background-color: white;
  border-radius: 50%;
}

.causes-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #ff0066;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.doctor {
  background-color: #8052eb;
  color: white;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.doctor.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.doctor-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #8052eb;
  background-color: white;
  border-radius: 50%;
}

.doctor-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #8052eb;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.nose {
  background-color: #f78dff;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.nose.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.nose-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #f78dff;
  background-color: white;
}

.nose-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #f78dff;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.throat {
  background-color: #5aeee0;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.throat.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.throat-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #5aeee0;
  background-color: white;
}

.throat-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #5aeee0;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.joint-pain {
  background-color: #b6b622;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.joint-pain.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.joint-pain-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #b6b622;
  background-color: white;
}

.joint-pain-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #b6b622;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.neck-pain {
  background-color: #9b84ff;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.neck-pain.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.neck-pain-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #9b84ff;
  background-color: white;
}

.neck-pain-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #9b84ff;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.shoulder-pain {
  background-color: #ffa6d6;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.shoulder-pain.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.shoulder-pain-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #ffa6d6;
  background-color: white;
}

.shoulder-pain-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #ffa6d6;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.headache {
  background-color: #6c7196;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.headache.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.headache-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #6c7196;
  background-color: white;
}

.headache-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #6c7196;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.bellyache {
  background-color: #55c131;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.bellyache.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.bellyache-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #55c131;
  background-color: white;
}

.bellyache-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #55c131;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.constipation {
  background-color: #67673c;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.constipation.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.constipation-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #67673c;
  background-color: white;
}

.constipation-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #67673c;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.fatigue {
  background-color: #00d0ff;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.fatigue.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.fatigue-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #00d0ff;
  background-color: white;
}

.fatigue-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #00d0ff;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.isolation {
  background-color: #1f77b4;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.isolation.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.isolation-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #1f77b4;
  background-color: white;
}

.isolation-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #1f77b4;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.insomnia {
  background-color: #f67375;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.insomnia.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.insomnia-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #f67375;
  background-color: white;
}

.insomnia-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #f67375;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.normality {
  background-color: #acac84;
  display: inline;
  /* margin: 0 0.5rem;
  padding: 0 0.5rem; */
  /* no top/bottom padding */
  line-height: 1;
  border-radius: 6rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* for Safari */
}

.normality.active {
  color: black;
  background-color: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;
}

.normality-button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid #acac84;
  background-color: white;
}

.normality-button.selected {
  width: 3rem;
  height: 3rem;
  background-color: #acac84;
  margin-right: 2rem;
  border: 1px solid transparent;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

/* Desktop Styles */
@media (min-width: 769px) {
  .probes-card-1 {
    width: 33%;
    padding: 0 3.5% 0 12.5%;
    border-right: 1px solid rgba(43, 43, 43, 1);
  }

  .probes-card-2 {
    width: 33%;
    padding: 0 12.5% 0 3.5%;
  }

  .probes-sub-section,
  .probes-sub-section-second-line {
    display: flex;
    /* border-top: 0.5px solid rgba(43, 43, 43, 1); */
    border-bottom: 0.5px solid rgba(43, 43, 43, 1);
    gap: 0;
  }

  .probes-card-3 {
    width: 33%;
    padding-left: 3.5%;
  }

  .probes-card-1-left,
  .probes-card-1-central,
  .probes-card-1-right {
    width: 33%;
    padding: 0;
    border-bottom: 0;
  }

  .probes-card-1-central-2x-horizontal,
  .probes-card-1-left-2x-horizontal {
    border-bottom: 0 solid rgba(43, 43, 43, 1);
  }

  .probes-card-1-left,
  .probes-card-1-central {
    border-right: 1px solid rgba(43, 43, 43, 1);
  }

  .probes-card-1-right-3x-horizontal {
    width: 33%;
  }

  .probes-card-1-right-2x-horizontal,
  .probes-card-1-central-2x-horizontal,
  .probes-card-1-left-2x-horizontal {
    width: 38%;
  }

  .probes-card-1-central-2x-horizontal,
  .probes-card-1-left-2x-horizontal {
    border-right: 1px solid rgba(43, 43, 43, 1);
  }

  .workshop-card {
    width: 30%;
  }

  .workshop-card+.workshop-card {
    margin-top: 0;
  }

  .probes-tag {
    width: 50%;
  }

  .probes-tag-special {
    width: 90%;
  }

  .probes-tag-last {
    font-size: 3rem;
  }

  .probes-tag-little-2 {
    font-size: 2rem;
  }

  /* 3 vertical sections data-probe single pages */
  .single-probe-written {
    width: 33%;
    padding: 0;
    border-bottom: 0;
    border-right: 0.5px solid rgba(43, 43, 43, 1);
  }

 .single-probe-pic {
  width: 31%;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 0;
}

/* mobile only */
@media (max-width: 768px) {
  .single-probe-pic {
    border-bottom: 0.5px solid rgba(43, 43, 43, 1);
  }
}

  .single-probe-pic-horizontal {
    width: 64%;
    border-bottom: 0;
    /* padding-left: 1rem; */
    padding-right: 1rem;
  }

.single-probe-oral {
  width: 35%;
  padding: 0;
  padding-left: 2rem;
  box-sizing: border-box;
  border: 0; /* reset everything */
}

/* desktop: left border only */
@media (min-width: 769px) {
  .single-probe-oral {
    border-left: 0.5px solid rgba(43, 43, 43, 1);
    border-bottom: 0; /* <-- THIS is the key line */
  }

/* mobile: bottom border only */
@media (max-width: 768px) {
  .single-probe-oral {
    border-bottom: 0.5px solid rgba(43, 43, 43, 1);
    border-left: 0;
  }
}


}

  .single-probe-oral-horizontal {
    padding: 0;
    border-bottom: 0;
    box-sizing: border-box;
    border-top: 0.5px solid rgba(43, 43, 43, 1);
    padding-top: 2rem;
    margin-top: 2rem;
  }

  .bottom {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .probe-card-central {
    width: 30%;
    padding: 0;
    border-bottom: 0;
    border-right: 1px solid rgba(43, 43, 43, 1);
  }

  .probe-card-rights {
    width: 57%;
  }

  .head-left,
  .head-central {
    width: 20%;
    border-bottom: 0;

    box-sizing: border-box;
  }

  .head-central-long {
    width: 60%;
    padding: 0rem;
    border-bottom: 0;
    box-sizing: border-box;
  }
}