.tag {
    margin-top: auto;
    margin-left: 1rem;
    align-self: flex-start;
    text-decoration: none;
    display: inline-block;
    line-height: 1rem;
  }

  .tag-left {
    margin-left: 0rem;
  }

  .tag-text {
    font-family: SuisseIntl-Regular, sans-serif;
    text-decoration: none;
    color: #000;
    font-size: .8rem;
    line-height: 0;
  }

      /*! ------------------- GT-Maru round - does not work */ 
    
  
      @font-face {
        font-family: 'GT-Maru-Regular';
        src: url('https://ginevraterenghi.github.io/data-probes/font/GT-Maru-Regular-Trial.woff2') format('woff2');
      }

      .kosugi-maru-regular {
        font-family: "Kosugi Maru", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      .m-plus-rounded-1c-light {
        font-family: "M PLUS Rounded Light", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .m-plus-rounded-1c-regular {
        font-family: "M PLUS Rounded Regular", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .m-plus-rounded-1c-bold {
        font-family: "M PLUS Rounded Bold", sans-serif;
        font-weight: 700;
        font-style: normal;
      }

  .component-list {
    width: 57%;
  top: 0; /* Adjust as needed */
  left: 0; /* Adjust as needed */
  z-index: 1;
  pointer-events: none; /* Prevent clicks from affecting this layer */
}





  .tag-text-long {
    font-family: SuisseIntl-Regular, sans-serif;
    text-decoration: none;
    color: #000;
    font-size: .8rem;
    line-height: 1.4;
  }

.written-description {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left:0rem;
  }
  
  .oral-description {
    font-family: SuisseIntl-Regular, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left:1rem;
  }

  .head-left, .head-central {
      width: 19%;
      padding: 0;
      border-bottom: 0;
    }

.head-central-long {
        width: 60%;
        padding: 0;
        border-bottom: 0;
      }


      .image-container {
        position: relative; /* Enables stacking */
  z-index: 2;
}
  
      .base-image,
      .overlay-image {
        position: absolute;
        top: 0;
        left: 0.2;
        width: 100%;
      }
  
      .overlay-image {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
      }
  
      .overlay-image.hidden {
        display: none; 
      }



      .button-to-select-text {
        font-family: SuisseIntl-Regular, sans-serif;
    text-decoration: none;
    color: #000;
    font-size: .8rem;
    line-height: 0;
    padding:0;
    align-items: flex-end;
      }


      .interactive-legend-section {
        display: flex;
        gap: 2rem;
        align-items: flex-end;
      }
      
      .legend-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      
      .page-wrapper {
        min-height: calc(100vh - 4rem); /* Adjust based on footer height */
        display: flex;
        flex-direction: column;

      }
      
      .bottom-section {
        margin-top: auto;
        margin-bottom: auto;
      }
      
      .bottom {
        display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(43, 43, 43, 1);
      }

      .bottom-left, .bottom-central, .bottom-right {
        flex: 1;
      }

      .bottom-left {
        text-align: left;
      }

      .bottom-central {
        text-align: center;
      }

      .bottom-right {
        text-align: right;
        padding-right: 1rem;
      }

      .bottom-tag {
        margin-top: auto;
        margin-left: 1rem;
        align-self: flex-start;
        text-decoration: none;
        display: inline-block;
        line-height: 1rem;
      }
    
      /* The middle section with vertical layout */
.vertical-section-group {
  display: flex;
  flex-direction: column;
  gap: 10px; /* spacing between vertical subsections */
}

.vertical-subsection {
  flex: 1;
  border: 1px solid #999;
  padding: 8px;
}


   
      /*! ------------------------------------------
      Legend toggles
  ------------------------------------------ */

  
      .treatments {
        color: #0040FF;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .treatments.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }
      
      .treatments-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #0040FF;
        background-color: white;
        border-radius: 50%;
      }
  
      .treatments-button.selected {
        width: 20px;
        height: 20px;
        background-color: #0040FF;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }
    
      
      .complexity {
        color: #239857;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .complexity.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .complexity-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #239857;
        background-color: white;
        border-radius: 50%;
      }

      .complexity-button.selected {
        width: 20px;
        height: 20px;
        background-color: #239857;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }



      .recurrences {
        /* color: #FF7800; */
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
        background-color: #FF7800;
  border-radius: 1rem;
  padding: 1px 2px;
      }

      .recurrences.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
        background-color: white;   
      }

      .recurrences-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #FF7800;
        background-color: white;
      }

      .recurrences-button.selected {
        width: 20px;
        height: 20px;
        background-color: #FF7800;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .urine {
        color: #C5C500;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .urine.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .urine-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #C5C500;
        background-color: white;
      }

      .urine-button.selected {
        width: 20px;
        height: 20px;
        background-color: #C5C500;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .lower-abdomen {
        color: #AE00FF;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .lower-abdomen.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .lower-abdomen-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #AE00FF;
        background-color: white;
      }

      .lower-abdomen-button.selected {
        width: 20px;
        height: 20px;
        background-color: #AE00FF;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .fever {
        color: #00C6D4;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .fever.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .fever-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #00C6D4;
        background-color: white;
      }

      .fever-button.selected {
        width: 20px;
        height: 20px;
        background-color: #00C6D4;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .discomfort {
        color: #9CF7FF;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .discomfort.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .discomfort-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #9CF7FF;
        background-color: white;
      }

      .discomfort-button.selected {
        width: 20px;
        height: 20px;
        background-color: #9CF7FF;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .pain {
        color: #FFCE9C;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .pain.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .pain-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #FFCE9C;
        background-color: white;
      }

      .pain-button.selected {
        width: 20px;
        height: 20px;
        background-color: #FFCE9C;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }


      .infection {
        color: #7B7B7B;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .infection.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .infection-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #7B7B7B;
        background-color: white;
      }

      .infection-button.selected {
        width: 20px;
        height: 20px;
        background-color: #7B7B7B;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .back-pain {
        color: #FF00E5;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .back-pain.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .back-pain-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #FF00E5;
        background-color: white;
      }

      .back-pain-button.selected {
        width: 20px;
        height: 20px;
        background-color: #FF00E5;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .bloated-stomach {
        color: #007BFF;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .bloated-stomach.active {
        color: black; 
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .bloated-stomach-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #007BFF;
        background-color: white;
      }

      .bloated-stomach-button.selected {
        width: 20px;
        height: 20px;
        background-color: #007BFF;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .anxiety {
        color: #00FF99;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .anxiety.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .anxiety-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #00FF99;
        background-color: white;
      }

      .anxiety-button.selected {
        width: 20px;
        height: 20px;
        background-color: #00FF99;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .vomiting {
        color: #FFCC00;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .vomiting.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .vomiting-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #FFCC00;
        background-color: white;
      }

      .vomiting-button.selected {
        width: 20px;
        height: 20px;
        background-color: #FFCC00;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .nausea {
        color: #F6DBFF;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .nausea.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .nausea-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #F6DBFF;
        background-color: white;
      }

      .nausea-button.selected {
        width: 20px;
        height: 20px;
        background-color: #F6DBFF;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }


      .leaks {
        color: #9A5F28;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .leaks.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .leaks-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #9A5F28;
        background-color: white;
      }

      .leaks-button.selected {
        width: 20px;
        height: 20px;
        background-color: #9A5F28;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .cramps {
        color: #763267;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .cramps.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .cramps-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #763267;
        background-color: white;
      }

      .cramps-button.selected {
        width: 20px;
        height: 20px;
        background-color: #763267;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .causes {
        color: #FF0066;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .causes.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .causes-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #FF0066;
        background-color: white;
        border-radius: 50%;
      }

      .causes-button.selected {
        width: 20px;
        height: 20px;
        background-color: #FF0066;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .doctor {
        color: #8052EB;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .doctor.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .doctor-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #8052EB;
        background-color: white;
        border-radius: 50%;
      }

      .doctor-button.selected {
        width: 20px;
        height: 20px;
        background-color: #8052EB;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }
      
      .nose {
        color: #F78DFF;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .nose.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .nose-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #F78DFF;
        background-color: white;
      }

      .nose-button.selected {
        width: 20px;
        height: 20px;
        background-color: #F78DFF;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .throat {
        color: #5AEEE0;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .throat.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .throat-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #5AEEE0;
        background-color: white;
      }

      .throat-button.selected {
        width: 20px;
        height: 20px;
        background-color: #5AEEE0;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .joint-pain {
        color: #B6B622;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .joint-pain.active {
        color: black; 
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .joint-pain-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #B6B622;
        background-color: white;
      }

      .joint-pain-button.selected {
        width: 20px;
        height: 20px;
        background-color: #B6B622;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .neck-pain {
        color: #9B84FF;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .neck-pain.active {
        color: black; /* Makes the text blue */
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .neck-pain-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #9B84FF;
        background-color: white;
      }

      .neck-pain-button.selected {
        width: 20px;
        height: 20px;
        background-color: #9B84FF;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .shoulder-pain {
        color: #FFA6D6;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .shoulder-pain.active {
        color: black; 
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .shoulder-pain-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #FFA6D6;
        background-color: white;
      }

      .shoulder-pain-button.selected {
        width: 20px;
        height: 20px;
        background-color: #FFA6D6;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .headache {
        color: #6C7196;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .headache.active {
        color: black; 
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .headache-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #6C7196;
        background-color: white;
      }

      .headache-button.selected {
        width: 20px;
        height: 20px;
        background-color: #6C7196;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .bellyache {
        color: #55C131;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .bellyache.active {
        color: black; 
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .bellyache-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #55C131;
        background-color: white;
      }

      .bellyache-button.selected {
        width: 20px;
        height: 20px;
        background-color: #55C131;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }


      .constipation {
        color: #67673C;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .constipation.active {
        color: black; 
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .constipation-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #67673C;
        background-color: white;
      }

      .constipation-button.selected {
        width: 20px;
        height: 20px;
        background-color: #67673C;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .fatigue {
        color: #00D0FF;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .fatigue.active {
        color: black; 
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .fatigue-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #00D0FF;
        background-color: white;
      }

      .fatigue-button.selected {
        width: 20px;
        height: 20px;
        background-color: #00D0FF;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .isolation {
        color: #1F77B4;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .isolation.active {
        color: black; 
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .isolation-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #1F77B4;
        background-color: white;
      }

      .isolation-button.selected {
        width: 20px;
        height: 20px;
        background-color: #1F77B4;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }


      .insomnia {
        color: #F67375;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .insomnia.active {
        color: black; 
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .insomnia-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #F67375;
        background-color: white;
      }

      .insomnia-button.selected {
        width: 20px;
        height: 20px;
        background-color: #F67375;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      .normality {
        color: #ACAC84;
        display: inline;
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .normality.active {
        color: black; 
        font-family: "SuisseIntl-Regular", sans-serif;
      }

      .normality-button {
        width: 20px;
        height: 20px;
        margin-right: 0.7rem;
        padding: 0;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #ACAC84;
        background-color: white;
      }

      .normality-button.selected {
        width: 20px;
        height: 20px;
        background-color: #ACAC84;
        margin-right: 0.7rem;
        border: 1px solid transparent;
        padding: 0;
        margin: 5px;
        cursor: pointer;
      }

      



     












   
    

  
  @media (min-width: 900px) {
    .bottom {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .probe-card-central {
      width: 30%;
      padding: 0;
      border-bottom: 0;
      border-right: 1px solid rgba(43, 43, 43, 1);
    }
  
    .probe-card-rights {
      width: 57%;
    }


}