/*! ------------------------------------------
    LAYOUT & STRUCTURE
------------------------------------------ */

html, body {
    height: 100%;
    margin: 0;
  }

  
/* Main container */
#workshops-main {
    padding: 1rem;
    padding-top: 10rem;
    border-top: 0 solid #000;
  }
  
  /* Fixed Header */
  #header-fixed-top {
    width: 100%;
    z-index: 999;
  }
  
  /* Hamburger menu */
  #hamburger-menu {
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    background-image: url(https://ginevraterenghi.github.io/data-probes/img/hamburger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 1rem;
    top: .5rem;
    cursor: pointer;
  }
  
  /*! ------------------------------------------
      NAVIGATION
  ------------------------------------------ */
  
  .hidden-nav-menu {
    display: none;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 2rem 4rem 1rem;
    width: 100%;
    backdrop-filter: blur(0);
    position: fixed;
    z-index: 999;
  }
  
  .nav-element,
  .nav-tag,
  .nav-tag-first,
  .nav-tag-last {
    width: 100%;
  }
  
  nav a {
    font-family: SuisseIntl-Light, sans-serif;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    vertical-align: baseline;
    transition: filter 0.3s ease;
  }
  
  .blur-text a {
    filter: blur(2px);
  }
  
  nav a:hover {
    filter: blur(0);
  }
  
  .nav-tag-last a:hover {
    color: #000;
  }
  
  /*! ------------------------------------------
      FONTS
  ------------------------------------------ */
  
  /*! ------------------- ABCCamera */
@font-face {
    font-family: ABCCamera-Regular;
    src: url(https://ginevraterenghi.github.io/data-probes/font/ABCCamera-Regular-Trial.otf);
  }
  @font-face {
    font-family: ABCCamera-Medium;
    src: url(https://ginevraterenghi.github.io/data-probes/font/ABCCamera-Medium-Trial.woff);
  }
  @font-face {
    font-family: ABCCamera-Regular;
    src: url(https://ginevraterenghi.github.io/data-probes/font/ABCCamera-Regular-Trial.woff2) format('woff2'),
         url(https://ginevraterenghi.github.io/data-probes/font/ABCCamera-Regular-Trial.woff) format('woff');
  }
  
  /*! ------------------- SuisseIntl */
  @font-face {
    font-family: SuisseIntl-Light;
    src: url(https://ginevraterenghi.github.io/data-probes/font/suisseintl-light-webfont.woff);
  }
  @font-face {
    font-family: SuisseIntl-LightItalic;
    src: url(https://ginevraterenghi.github.io/data-probes/font/SuisseIntl-LightItalic.woff);
  }
  @font-face {
    font-family: SuisseIntl-Regular;
    src: url(https://ginevraterenghi.github.io/data-probes/font/suisseintl-regular-webfont.woff);
  }
  @font-face {
    font-family: SuisseIntl-Book;
    src: url(https://ginevraterenghi.github.io/data-probes/font/suisseintl-book-webfont.woff);
  }
  @font-face {
    font-family: SuisseIntl-Medium;
    src: url(https://ginevraterenghi.github.io/data-probes/font/suisseintl-medium-webfont.woff);
  }
  @font-face {
    font-family: SuisseIntl-Bold;
    src: url(https://ginevraterenghi.github.io/data-probes/font/suisseintl-bold.woff);
  }

  /*! ------------------- IBM Plex */

  .ibm-plex-serif-light {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ibm-plex-serif-medium {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ibm-plex-serif-semibold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .ibm-plex-serif-bold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ibm-plex-serif-light-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ibm-plex-serif-regular-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: italic;
  }


   /*! ------------------------------------------
      TYPOGRAPHY
  ------------------------------------------ */

  .text-menu-special {
    font-family: ABCCamera-Regular;
    font-size: 30px;
  }
  
  .text-menu {
    font-family: SuisseIntl-Light;
    font-size: 20px;
  }
  
  /*! ------------------------------------------
      WORKSHOPS LAYOUT
  ------------------------------------------ */
  
  .workshops-sub-section,
  .workshops-sub-section-second-line {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    border-top: 1px solid rgba(43, 43, 43, 1);
  }
  
  .workshops-sub-section-second-line {
    padding-top: 1rem;
  }
  
  .workshop-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
  }
  
  .workshop-card + .workshop-card {
    margin-top: 2.6rem; /* 1.3rem * 2 */
  }
  
  .workshop-card::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgba(43, 43, 43, 1);
    width: 100%;
    left: 0;
  }
  
  .workshop-card:last-child::after {
    border-bottom: 0;
  }
  
  /*! ------------------------------------------
      WORKSHOPS CONTENT STYLES
  ------------------------------------------ */
  
  .workshops-text,
  .workshops-button {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  
  .workshops-button {
    padding-bottom: 1rem;
  }
  
  .workshops-tag,
  .workshops-tag-title,
  .workshops-left,
  .workshops-right {
    padding: 0;
    margin: 0;
  }
  
  .workshops-right {
    text-align: right;
    padding-top: 1rem;
  }
  
  .workshops-tag-big,
  .workshops-tag-name,
  .workshops-tag-last,
  .workshops-tag-little,
  .workshops-tag-little-2,
  .workshops-tag-description {
    font-family: SuisseIntl-Light, sans-serif;
    color: #2a2a2a;
  }
  
  .workshops-tag-big {
    font-family: SuisseIntl-Book;
    font-size: 1.1rem;
    padding-top: 1rem;
  }
  
  .workshops-tag-name,
  .workshops-tag-last {
    font-family: SuisseIntl-Book;
    font-size: 1.3rem;
    color: #ff46ec;
    display: inline-block;
  }
  
  .workshops-tag-name {
    margin-top: 1rem;
    line-height: 1.7rem;
  }
  
  .workshops-tag-last {
    margin-top: 0;
    line-height: 1.3rem;
  }
  
  .workshops-tag-little {
    font-size: 1.1rem;
    line-height: 1.9rem;
  }
  
  .workshops-tag-little-2 {
    font-size: 1rem;
    text-align: right;
    line-height: 1rem;
    padding-top: 1.3rem;
  }
  
  .workshops-tag-description {
    font-size: 1rem;
    line-height: 1.3rem;
    white-space: break-spaces;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  
  /*! ------------------------------------------
      MEDIA CONTENT
  ------------------------------------------ */
  
  .workshops-pic,
  .dp-3d,
  .final-event-pic {
    width: 100%;
    padding-top: 1rem;
  }
  
  .dp-3d {
    height: 300px;
  }
  
  .final-event-pic {
    width: 50%;
  }
  
  /*! ------------------------------------------
      BUTTONS
  ------------------------------------------ */
  
  .read-more-button {
    margin-top: auto;
    margin-left: 1rem;
    align-self: flex-start;
    border: 1px solid #000;
    border-radius: 2rem;
    padding: .5rem .7rem;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    line-height: 1rem;
  }
  
  .read-more-button a {
    font-family: SuisseIntl-Regular, sans-serif;
    text-decoration: none;
    color: #000;
    font-size: .8rem;
    line-height: 0;
  }
  
  .read-more-button:hover a {
    color: #000;
  }
  
  /*! ------------------------------------------
      MEDIA QUERIES
  ------------------------------------------ */
  
  @media (min-width: 900px) {
    .workshops-card-1 {
      width: 33%;
      padding: 0 3.5% 0 12.5%;
      border-right: 1px solid rgba(43, 43, 43, 1);
    }
  
    .workshops-card-2 {
      width: 33%;
      padding: 0 12.5% 0 3.5%;
    }
  
    .workshops-card-3 {
      width: 33%;
      padding-left: 3.5%;
    }
  
    .workshops-card-1-left,
    .workshops-card-1-central,
    .workshops-card-1-right {
      width: 19%;
      padding: 0;
      border-bottom: 0;
    }
  
    .workshops-card-1-left,
    .workshops-card-1-central {
      border-right: 1px solid rgba(43, 43, 43, 1);
    }
  
    .workshops-card-1-right-3x-horizontal {
      width: 57%;
    }
  
    .workshops-card-1-right-2x-horizontal,
    .workshops-card-1-central-2x-horizontal,
    .workshops-card-1-left-2x-horizontal {
      width: 38%;
    }
  
    .workshops-card-1-central-2x-horizontal,
    .workshops-card-1-left-2x-horizontal {
      border-right: 1px solid rgba(43, 43, 43, 1);
    }
  
    .workshop-card {
      width: 30%;
    }
  
    .workshop-card + .workshop-card {
      margin-top: 0;
    }
  
    .workshops-tag {
      width: 50%;
    }
  
    .workshops-tag-special {
      width: 90%;
    }
  
    .workshops-tag-last {
      font-size: 1.1rem;
    }
  
    .workshops-tag-little-2 {
      font-size: .7rem;
    }
  
    .workshops-sub-section,
    .workshops-sub-section-second-line {
      padding: 1.3rem 0;
    }
  
    #hamburger-menu {
      display: none;
    }
  
    .hidden-nav-menu {
      display: contents;
    }
  
    .nav-tag {
      width: calc(100% / 5);
    }
  
    .nav-tag-first {
      width: 20%;
    }
  
    .nav-tag-last {
      width: 15%;
      font-size: 12px;
      line-height: 14px;
      text-align: right;
      margin: auto 0;
    }
  }