/*! ------------------------------------------
    LAYOUT & STRUCTURE
------------------------------------------ */

html, body {
    height: 100%;
    margin: 0;
  }

  
/* Main container */
#probes-main {
    padding: 1rem;
    padding-top: 10rem;
    padding-bottom: 0rem;
    border-top: 0 solid #000;
  }
  
  /* Fixed Header */
  #header-fixed-top {
    width: 100%;
    z-index: 999;
  }
  
  #grid-container {
    padding-top: 156px;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
    height: 100%;
    width: 100%;
  }


  main {
    height: 100%;
    width: 100%;
  }

  .card > button {
    margin: 0;
  }

  /* .card.probe-1 {
    grid-column: 3;
    grid-row: 2 / span 2;
    
  } */

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: solid .5px black;
    margin: -8px;
    padding: 10px; */
  }

   .card.probe-1 {
    grid-row: 1;
    grid-column: 1;
  }

  .card.probe-2 {
    grid-row: 1 / span 2;
    grid-column: 2;
  }

  .card.probe-3 {
    grid-row: 1;
    grid-column: 3 / span 3;
  }

  .card.probe-4 {
    grid-row: 2;
    grid-column: 3 / span 2;
  }

  .card.probe-5 {
   grid-row: 2 / span 2;
   grid-column: 1;
  }

  .card.probe-6 {
   grid-row: 3;
   grid-column: 2;
  }
  
  .card.probe-7 {
   grid-row: 2;
   grid-column: 5;
  }

  .card.probe-8 {
   grid-row: 3;
   grid-column: 3;
  }

  .card.probe-9 {
   grid-row: 3;
   grid-column: 4;
  }

  .card.probe-10 {
   grid-row: 3;
   grid-column: 5;
  }

  .card.probe-11 {
   grid-row: 4;
   grid-column: 1;
  }

  .card.probe-12 {
   grid-row: 5;
   grid-column: 1;
  }

  .card.probe-15 {
   grid-row: 4 / span 2;
   grid-column: 2;
  }

  .card.probe-16 {
   grid-row: 4;
   grid-column: 3 / span 2;
  }

  .card.probe-14 {
   grid-row: 4;
   grid-column: 5;
  }

  .card.probe-13 {
   grid-row: 5;
   grid-column: 3;
  }

  .card.probe-21 {
   grid-row: 5;
   grid-column: 4 / span 2;
  }

  .card.probe-22 {
   grid-row: 6 / span 2;
   grid-column: 1 / span 2;
  }

  .card.probe-23 {
   grid-row: 6;
   grid-column: 3 / span 2;
  }

  .card.probe-17 {
   grid-row: 6;
   grid-column: 5;
  }

  .card.probe-19 {
   grid-row: 8;
   grid-column: 1;
  }

  .card.probe-20 {
   grid-row: 8;
   grid-column: 2;
  }

  .card.probe-25 {
   grid-row: 7 / span 2;
   grid-column: 3;
  }

  .card.probe-27 {
   grid-row: 7;
   grid-column: 4;
  }

  .card.probe-28 {
   grid-row: 8;
   grid-column: 4;
  }

  .card.probe-31 {
   grid-row: 7 / span 2;
   grid-column: 5;
  }

  .card.probe-24 {
   grid-row: 9;
   grid-column: 1;
  }

  .card.probe-18 {
   grid-row: 9;
   grid-column: 2;
  }

  .card.probe-26 {
   grid-row: 9;
   grid-column: 3;
  }

  .card.probe-29 {
   grid-row: 9;
   grid-column: 4;
  }

  .card.probe-30 {
   grid-row: 9;
   grid-column: 5;
  }








  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);   /* 4 equal columns  */
    grid-auto-rows: 8rem;                    /* row height       */
    gap: .5rem;
  }
  
  
  /*! ------------------------------------------
      NAVIGATION
  ------------------------------------------ */
  
  .hidden-nav-menu {
    display: none;
  }

  .menu-visible{
    display: contents;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 1rem;
    box-sizing: border-box; 
    width: 100%;
    backdrop-filter: blur(0);
    position: fixed;
    z-index: 999;
  }
  
  .nav-element,
  .nav-tag,
  .nav-tag-first,
  .nav-tag-last {
    width: 100%;
  }
  
  nav a {
    font-family: SuisseIntl-Light, sans-serif;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    vertical-align: baseline;
    transition: filter 0.3s ease;
  }
  
  .blur-text a {
    filter: blur(2px);
  }
  
  nav a:hover {
    filter: blur(0);
  }
  
  .nav-tag-last a:hover {
    color: #000;
  }
  
  /*! ------------------------------------------
      FONTS
  ------------------------------------------ */
  
  /*! ------------------- ABCCamera */
@font-face {
    font-family: ABCCamera-Regular;
    src: url(https://ginevraterenghi.github.io/data-probes/font/ABCCamera-Regular-Trial.otf);
  }

  
  /*! ------------------- SuisseIntl */

@font-face {
  font-family: "SuisseIntl-Light";
  src: url("https://ginevraterenghi.github.io/data-probes/font/SuisseIntl-Light.ttf") format("ttf");
  src: url('https://ginevraterenghi.github.io/data-probes/font/SuisseIntl-Ligh.otft') format('otf');
  src: url('https://ginevraterenghi.github.io/data-probes/font/SuisseIntl-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
    /*! ------------------- PPPEditorialNew */
@font-face {
  font-family: "PPEditorialNew-Regular";
  src: url("https://ginevraterenghi.github.io/data-probes/font/PPEditorialNew-Regular.woff") format("woff");
  src: url('https://ginevraterenghi.github.io/data-probes/font/PPEditorialNew-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}



    /*! ------------------- GT-Maru round */
    
    @font-face {
      font-family: 'GT-Maru-Regular';
      src: url('https://ginevraterenghi.github.io/data-probes/font/GT-Maru-Regular-Trial.woff') format('woff');
      src: url('https://ginevraterenghi.github.io/data-probes/font/GT-Maru-Regular-Trial.otf') format('otf');
      font-weight: normal;
      font-style: normal;

    }


    /*! ------------------- IBM Plex */

  .ibm-plex-serif-light {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ibm-plex-serif-medium {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ibm-plex-serif-semibold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .ibm-plex-serif-bold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ibm-plex-serif-light-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ibm-plex-serif-regular-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: italic;
  }


   /*! ------------------------------------------
      TYPOGRAPHY
  ------------------------------------------ */

  .text-menu-special {
    font-family: ABCCamera-Regular;
    font-size: 30px;
  }

  .text-menu-special.mobile{
    display: none;
  }

  .text-menu-special.desktop{
    display: contents;
  }
  
  .text-menu {
    font-family: SuisseIntl-Light;
    font-size: 20px;
  }
  
  /*! ------------------------------------------
      probes LAYOUT
  ------------------------------------------ */
  
  .probes-sub-section,
  .probes-sub-section-second-line {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    /* border-top: 1px solid rgba(43, 43, 43, 1); */
  }
  
  .probes-sub-section-second-line {
    padding-top: 1rem;
  }
  
  .workshop-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
    border-top: 1px solid rgba(43, 43, 43, 1);
  }
  
  .workshop-card + .workshop-card {
    margin-top: 2.6rem; /* 1.3rem * 2 */
  }
  
  .workshop-card::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgba(43, 43, 43, 1);
    width: 100%;
    left: 0;
  }
  
  .workshop-card:last-child::after {
    border-bottom: 0;
  }
  
  /*! ------------------------------------------
      probes CONTENT STYLES
  ------------------------------------------ */
  
  .probes-text,
  .probes-button {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .probes-button {
    padding-bottom: 1rem;
  }

 .probes-button {
    padding-bottom: 1rem;
  position: relative;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
} 
  
  .probes-tag,
  .probes-tag-title,
  .probes-left,
  .probes-right {
    padding: 0;
    margin: 0;
  }
  
  .probes-right {
    text-align: right;
    padding-top: 1rem;
  }
  
  .probes-tag-big,
  .probes-tag-name,
  .probes-tag-last,
  .probes-tag-little,
  .probes-tag-little-2,
  .probes-tag-description {
    font-family: SuisseIntl-Light, sans-serif;
    color: #2a2a2a;
  }
  
  .probes-tag-big {
    font-family: SuisseIntl-Book;
    font-size: 1.1rem;
    padding-top: 1rem;
  }
  
  .probes-tag-name,
  .probes-tag-last {
    font-family: SuisseIntl-Book;
    font-size: 1.3rem;
    color: #ff46ec;
    display: inline-block;
  }
  
  .probes-tag-name {
    margin-top: 1rem;
    line-height: 1.7rem;
  }
  
  .probes-tag-last {
    margin-top: 0;
    line-height: 1.3rem;
  }
  
  .probes-tag-little {
    font-size: 1.1rem;
    line-height: 1.9rem;
  }
  
  .probes-tag-little-2 {
    font-size: 1rem;
    text-align: right;
    line-height: 1rem;
    padding-top: 1.3rem;
  }
  
  .probes-tag-description {
    font-size: 1rem;
    line-height: 1.3rem;
    white-space: break-spaces;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  
  /*! ------------------------------------------
      MEDIA CONTENT
  ------------------------------------------ */
  
  .probes-pic {
    width: 100%;
    max-height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
  }
  
  .dp-3d {
    width: 100%;
    height: 300px;
    padding-top: 1rem;
  }
  
  .final-event-pic {
    width: 50%;
    padding-top: 1rem;
  }
  
  /*! ------------------------------------------
      BUTTONS
  ------------------------------------------ */
  
  .read-more-button {
    /* margin-top: auto; */
    margin-left: 1rem;
    align-self: flex-start;
    border: 1px solid #000;
    border-radius: 2rem;
    padding: .5rem .7rem;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    line-height: 1rem;
  }
  
  .read-more-button a {
    font-family: SuisseIntl-Regular, sans-serif;
    text-decoration: none;
    color: #000;
    font-size: .8rem;
    line-height: 0;
  }
  
  .read-more-button:hover a {
    color: #000;
  }

  .probes-card-1-left, .probes-card-1-central, .probes-card-1-right, .probes-card-1-central-2x-horizontal, .probes-card-1-left-2x-horizontal {
      border-bottom: 1px solid rgba(43, 43, 43, 1);
    }
  
  /*! ------------------------------------------
      MEDIA QUERIES
  ------------------------------------------ */
  
  @media (max-width: 900px) {

    .text-menu-special.mobile{
      display: contents;
    }

    .text-menu-special.desktop{
      display: none;
    }

    /* #grid-container {
      grid-template-columns: 1fr;
      } */

    #grid-container {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(30, 1fr);
    }

    .probes-pic{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      height:fit-content;
    }


     .card.probe-1 {
      grid-row: 1;
      grid-column: 1;
    }

    .card.probe-2 {
      grid-row: 2;
      grid-column: 1;
    }

    .card.probe-3 {
      grid-row: 3;
      grid-column: 1;
    }

    .card.probe-4 {
      grid-row: 4;
      grid-column: 1;
    }

    .card.probe-5 {
    grid-row: 5;
    grid-column: 1;
    }

    .card.probe-6 {
    grid-row: 6;
    grid-column: 1;
    }
    
    .card.probe-7 {
    grid-row: 7;
    grid-column: 1;
    }

    .card.probe-8 {
    grid-row: 8;
    grid-column: 1;
    }

    .card.probe-9 {
    grid-row: 9;
    grid-column: 1;
    }

    .card.probe-10 {
    grid-row: 10;
    grid-column: 1;
    }

    .card.probe-11 {
    grid-row: 11;
    grid-column: 1;
    }

    .card.probe-12 {
    grid-row: 12;
    grid-column: 1;
    }

    .card.probe-15 {
    grid-row: 15;
    grid-column: 1;
    }

    .card.probe-16 {
    grid-row: 16;
    grid-column: 1;
    }

    .card.probe-14 {
    grid-row: 14;
    grid-column: 1;
    }

    .card.probe-13 {
    grid-row: 13;
    grid-column: 1;
    }

    .card.probe-21 {
    grid-row: 21;
    grid-column: 1;
    }

    .card.probe-22 {
    grid-row: 22;
    grid-column: 1;
    }

    .card.probe-23 {
    grid-row: 23;
    grid-column: 1;
    }

    .card.probe-17 {
    grid-row: 17;
    grid-column: 1;
    }

    .card.probe-19 {
    grid-row: 19;
    grid-column: 1;
    }

    .card.probe-20 {
    grid-row: 20;
    grid-column: 1;
    }

    .card.probe-25 {
    grid-row: 25;
    grid-column: 1;
    }

    .card.probe-27 {
    grid-row: 27;
    grid-column: 1;
    }

    .card.probe-28 {
    grid-row: 28;
    grid-column: 1;
    }

    .card.probe-31 {
    grid-row: 31;
    grid-column: 1;
    }

    .card.probe-24 {
    grid-row: 24;
    grid-column: 1;
    }

    .card.probe-18 {
    grid-row: 18;
    grid-column: 1;
    }

    .card.probe-26 {
    grid-row: 26;
    grid-column: 1;
    }

    .card.probe-29 {
    grid-row: 29;
    grid-column: 1;
    }

    .card.probe-30 {
    grid-row: 30;
    grid-column: 1;
    }

    .probes-card-1 {
      width: 33%;
      padding: 0 3.5% 0 12.5%;
      border-right: 1px solid rgba(43, 43, 43, 1);
    }
  
    .probes-card-2 {
      width: 33%;
      padding: 0 12.5% 0 3.5%;
    }
  
    .probes-sub-section,
  .probes-sub-section-second-line {
     border-top: 1px solid rgba(43, 43, 43, 1); 
  }

    .probes-card-3 {
      width: 33%;
      padding-left: 3.5%;
    }
  
    .probes-card-1-left,
    .probes-card-1-central,
    .probes-card-1-right {
      width: 33%;
      padding: 0;
      border-bottom: 0;
    }

    .probes-card-1-central-2x-horizontal, .probes-card-1-left-2x-horizontal {
      border-bottom: 0px solid rgba(43, 43, 43, 1);
    }

  
    .probes-card-1-left,
    .probes-card-1-central {
      border-right: 1px solid rgba(43, 43, 43, 1);
    }
  
    .probes-card-1-right-3x-horizontal {
      width: 33%;
    }
  
    .probes-card-1-right-2x-horizontal,
    .probes-card-1-central-2x-horizontal,
    .probes-card-1-left-2x-horizontal {
      width: 38%;
    }
  
    .probes-card-1-central-2x-horizontal,
    .probes-card-1-left-2x-horizontal {
      border-right: 1px solid rgba(43, 43, 43, 1);
    }
  
    .workshop-card {
      width: 30%;
    }
  
    .workshop-card + .workshop-card {
      margin-top: 0;
    }
  
    .probes-tag {
      width: 50%;
    }
  
    .probes-tag-special {
      width: 90%;
    }
  
    .probes-tag-last {
      font-size: 1.1rem;
    }
  
    .probes-tag-little-2 {
      font-size: .7rem;
    }
  
    .probes-sub-section,
    .probes-sub-section-second-line {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
    }
  }

  @media(min-width: 900px) {
  
    #hamburger-menu {
      display: none;
    }
  
    .hidden-nav-menu {
      display: contents;
    }
  
    .nav-tag {
      width: calc(100% / 5);
      margin-top: 0.4rem;
    }
  
    .nav-tag-first {
      width: 24%;
    }
  
    .nav-tag-last {
      width: 15%;
      font-size: 12px;
      line-height: 14px;
      text-align: right;
      margin: auto 0;
    }

    
    /* 3 vertical sections data-probe single pages */
    .single-probe-written {
      width: 33%;
      padding: 0;
      border-bottom: 0;
      border-right: 1px solid rgba(43, 43, 43, 1);
    }

    .single-probe-pic {
      width: 31%;
      border-bottom: 0;
      padding-left:1rem;
      padding-right:1rem;
      border-right: 1px solid rgba(43, 43, 43, 1);
    }

    .single-probe-pic-horizontal {
      width: 64%;
      border-bottom: 0;
      padding-left:1rem;
      padding-right:1rem;
    }

    .single-probe-oral {
      width: 33%;
      padding: 0;
      border-bottom: 0;
      padding-left:1rem;
      box-sizing: border-box;
    }

    .single-probe-oral-horizontal {
      padding: 0;
      border-bottom: 0;
      box-sizing: border-box;
      border-top: 1px solid rgba(43, 43, 43, 1);
      padding-top: 1rem;
      margin-top: 1rem;
    }
    
   


  }