/* Main container */
#probes-main {
  padding: 2rem;
  padding-top: 20rem;
  padding-bottom: 0rem;
  border-top: 0 solid #000;
}

/* Fixed Header */
#header-fixed-top {
  width: 100%;
  z-index: 999;
}

/* Mobile First Grid */
#grid-container {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(30, auto);
  gap: 0;
  width: 100%;
}

main {
  width: 100%;
}

.card>button {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 0.5px solid black;
  padding: 2rem;
  box-sizing: border-box;
}

/* Mobile Probes Pic */
.probes-pic {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  max-height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1rem;
}

/* Mobile Grid Placement */
.card.probe-1 {
  grid-row: 1;
  grid-column: 1;
}

.card.probe-2 {
  grid-row: 2;
  grid-column: 1;
}

.card.probe-3 {
  grid-row: 3;
  grid-column: 1;
}

.card.probe-4 {
  grid-row: 4;
  grid-column: 1;
}

.card.probe-5 {
  grid-row: 5;
  grid-column: 1;
}

.card.probe-6 {
  grid-row: 6;
  grid-column: 1;
}

.card.probe-7 {
  grid-row: 7;
  grid-column: 1;
}

.card.probe-8 {
  grid-row: 8;
  grid-column: 1;
}

.card.probe-9 {
  grid-row: 9;
  grid-column: 1;
}

.card.probe-10 {
  grid-row: 10;
  grid-column: 1;
}

.card.probe-11 {
  grid-row: 11;
  grid-column: 1;
}

.card.probe-12 {
  grid-row: 12;
  grid-column: 1;
}

.card.probe-13 {
  grid-row: 13;
  grid-column: 1;
}

.card.probe-14 {
  grid-row: 14;
  grid-column: 1;
}

.card.probe-15 {
  grid-row: 15;
  grid-column: 1;
}

.card.probe-16 {
  grid-row: 16;
  grid-column: 1;
}

.card.probe-17 {
  grid-row: 17;
  grid-column: 1;
}

.card.probe-18 {
  grid-row: 18;
  grid-column: 1;
}

.card.probe-19 {
  grid-row: 19;
  grid-column: 1;
}

.card.probe-20 {
  grid-row: 20;
  grid-column: 1;
}

.card.probe-21 {
  grid-row: 21;
  grid-column: 1;
}

.card.probe-22 {
  grid-row: 22;
  grid-column: 1;
}

.card.probe-23 {
  grid-row: 23;
  grid-column: 1;
}

.card.probe-24 {
  grid-row: 24;
  grid-column: 1;
}

.card.probe-25 {
  grid-row: 25;
  grid-column: 1;
}

.card.probe-26 {
  grid-row: 26;
  grid-column: 1;
}

.card.probe-27 {
  grid-row: 27;
  grid-column: 1;
}

.card.probe-28 {
  grid-row: 28;
  grid-column: 1;
}

.card.probe-29 {
  grid-row: 29;
  grid-column: 1;
}

.card.probe-30 {
  grid-row: 30;
  grid-column: 1;
}

.card.probe-31 {
  grid-row: 31;
  grid-column: 1;
}

.final-event-pic {
  width: 50%;
  padding-top: 2rem;
}

/* Buttons */
.dp-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;
  padding: 1.6rem;
  margin-top: 2rem;
  width: fit-content;
  min-width: 15rem;
  aspect-ratio: 5 / 1;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  border-radius: 50%;
  font-family: 'PP Editorial New', serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  background: #ffffff;
  color: black;
  border: 0.5px solid black;
  text-decoration: none;
  cursor: pointer;
}

.dp-button:active {
  transform: translateY(1px);
  box-shadow: 0 1px 0 rgba(90, 11, 99, 0.18);
}

.dp-button:hover {
  background: #fbf7fb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.probes-card-1-left,
.probes-card-1-central,
.probes-card-1-right,
.probes-card-1-central-2x-horizontal,
.probes-card-1-left-2x-horizontal {
  border-bottom: 0.5px solid rgba(43, 43, 43, 1);
}


@media (min-width: 769px) {
  #grid-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 2rem;
  }

  .card {
    border: 0.5px solid black;
    margin: 0;
    padding: 1rem;
  }

  .probes-pic {
    width: 100%;
    padding: 1rem;
  }

  .card.probe-1 {
    grid-row: 1;
    grid-column: 1;
  }

  .card.probe-2 {
    grid-row: 1 / span 2;
    grid-column: 2;
  }

  .card.probe-3 {
    grid-row: 1;
    grid-column: 3 / span 3;
  }

  .card.probe-4 {
    grid-row: 2;
    grid-column: 3 / span 2;
  }

  .card.probe-5 {
    grid-row: 2 / span 2;
    grid-column: 1;
  }

  .card.probe-6 {
    grid-row: 3;
    grid-column: 2;
  }

  .card.probe-7 {
    grid-row: 2;
    grid-column: 5;
  }

  .card.probe-8 {
    grid-row: 3;
    grid-column: 3;
  }

  .card.probe-9 {
    grid-row: 3;
    grid-column: 4;
  }

  .card.probe-10 {
    grid-row: 3;
    grid-column: 5;
  }

  .card.probe-11 {
    grid-row: 4;
    grid-column: 1;
  }

  .card.probe-12 {
    grid-row: 5;
    grid-column: 1;
  }

  .card.probe-15 {
    grid-row: 4 / span 2;
    grid-column: 2;
  }

  .card.probe-16 {
    grid-row: 4;
    grid-column: 3 / span 2;
  }

  .card.probe-14 {
    grid-row: 4;
    grid-column: 5;
  }

  .card.probe-13 {
    grid-row: 5;
    grid-column: 3;
  }

  .card.probe-21 {
    grid-row: 5;
    grid-column: 4 / span 2;
  }

  .card.probe-22 {
    grid-row: 6 / span 2;
    grid-column: 1 / span 2;
  }

  .card.probe-23 {
    grid-row: 6;
    grid-column: 3 / span 2;
  }

  .card.probe-17 {
    grid-row: 6;
    grid-column: 5;
  }

  .card.probe-19 {
    grid-row: 8;
    grid-column: 1;
  }

  .card.probe-20 {
    grid-row: 8;
    grid-column: 2;
  }

  .card.probe-25 {
    grid-row: 7 / span 2;
    grid-column: 3;
  }

  .card.probe-27 {
    grid-row: 7;
    grid-column: 4;
  }

  .card.probe-28 {
    grid-row: 8;
    grid-column: 4;
  }

  .card.probe-31 {
    grid-row: 7 / span 2;
    grid-column: 5;
  }

  .card.probe-24 {
    grid-row: 9;
    grid-column: 1;
  }

  .card.probe-18 {
    grid-row: 9;
    grid-column: 2;
  }

  .card.probe-26 {
    grid-row: 9;
    grid-column: 3;
  }

  .card.probe-29 {
    grid-row: 9;
    grid-column: 4;
  }

  .card.probe-30 {
    grid-row: 9;
    grid-column: 5;
  }
}